{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/edit.css' %}">
    <title>Edit Post</title>
</head>

<body>
    <div>
        <a href="{% url 'index' %}">View all posts</a>
        <a href="{% url 'logout' %}">Log out</a>
    </div>
    <div class="post_edit">
        <h1 style="text-align: center;">Category</h1>
        <form method="{% if category_id == None %}POST{% else %}PUT{% endif %}" action="{% url 'category' %}" enctype="multipart/form-data" class="form-style-7">
            {% csrf_token %}
            <ul>
                <li>
                    <input name="id" {% if category.id %} value="{{category.id}}" {% endif %} hidden class="hidden">
                </li>
                <li>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" {% if category.id %} value="{{category.name}}" {% endif %} required>
                </li>
                <input type="submit" value="Submit" />
            </ul>
        </form>
    </div>
</body>

</html>